OPENAI_API_KEY="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"
PINECONE_API_KEY="pcsk_5eJbmh_KfJexgQKqn51VER9PTuTDjbxXLr2FfCRPDpRriDWHjHgFfZD2SeUYZ6AR3YTzEe"